@charset "UTF-8";

@import "vendor/components/prefixer";
@import "vendor/components/mixins";
@import "vendor/components/color";

@import "vendor/components/variables";

@import "vendor/components/normalize";

@import "vendor/components/global";
@import "vendor/components/grid";
@import "vendor/components/form";

html {
  font-family: sans-serif;
}

body {
  background-color: color("grey", "lighten-4");
}

.title {
  margin: 0 auto;
  height: 100px;
  width: 100%;
  line-height: 100px;
}

.collection .collection-item.avatar {
  height: 64px;
  padding-left: 72px;
  position: relative;

  .circle {
    top: 11px;
  }
}

